/* GENERAL>>> */

* {
  padding: 0;
  margin: 0;
}
#id {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}
nav, header {
  grid-column: 1/5;
}
a {
  text-decoration: none;
}
/* <<<GENERAL */

/* NAV>>> */

nav {
  height: 4em;
  background-color: cornsilk;
}
nav ul {
  display: flex;
  list-style: none;
  height: 100%;
}
nav a, nav button {
  padding: 1em;
  font-size: 110%;
  color: black;
}
nav button {
  background: none;
  border: 0;
}
nav a:hover, nav button:hover {
  transition: .5s;
  background-color: azure;
}

/* <<<NAV */


/* MAIN>>> */

main {
  margin: auto;
  margin: 0 10%;
  background-color: aquamarine;
}

/* DISPLAY SECTION>>> */

.display-all-section {
  margin: auto;
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 2em;
}

/* <<<DISPLAY SECTION */

/* <<<MAIN */